/* @import url('https//fonts.googleapis.com/css2?family=Roboto&display=swap'); */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
}

section.chat__section{
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0 ,0 ,0 ,0.1), 0 4px 0px -2px rgba(0 ,0 ,0 ,0.5) ;
}

.brand{
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}

.brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 20px
}

.brand p{
    min-width: 50px;
}

.brand img{
    border-radius: 10px;
}
.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}

textarea{
    width: 100%;
    padding: 20px;
    border: none;
    font-size: 16px;
    outline: none;
    background: #fbfbfb;
}

.message{
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}


.joined_message{
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 35px;
    max-width: 50px;
    position: relative;
}

.incoming{
    background: #56b7f4;
    color: #ffffff;
}

.outgoing{
    background: #e1e1e1;
    color: #444645;
    margin-left: auto;
}

.joined{
    background: #444645;
    color: wheat;
}

.outgoing p{
    min-width: 50px;
}

.message h4{
    position: absolute;
    top: -20px;
    left:0;
    color: #333;
    font-size: 14px;
}